/* ###Overall CSS### */

/* Color variables */
:root {
  --navbar-color: #011526;
  /* Define the variable */
  --underline-and-h1-3: #FD7121;
  --lighter: #5d7797;
  --darker: #4f6888;
}

.flex {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
  background-color: white;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: ghostwhite;
}


a:hover {
  color: var(--underline-and-h1-3);
  text-decoration: none;
}


/* overall container maxwidth */
@media (min-width: 2000px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px;
  }
}


/* ###Overall CSS END### */







/* ###Navbar### */

/* Container max-width inside the navbar */
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1540px;
  }
}


#mainNavbar .navbar-brand {
  color: var(--navbar-color);
  font-size: 1.5rem;
  font-weight: 600;
}

#mainNavbar .navbar-brand:hover {
  color: gray;
}


#mainNavbar .nav-link {
  color: var(--navbar-color);
}

.navbar {
  transition: 0.3s;

  animation: ease-out changeopacity;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.0s;
  opacity: 0;

  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 0;
  padding-top: 0;
  background-color: none;
  font-weight: 600;

  background-color: ghostwhite;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}


#mainNavbar .nav-link:hover {
  color: Grey;
}

.selected {
  text-decoration: underline;
  text-decoration-color: var(--underline-and-h1-3);
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border: none;
}

@keyframes changeopacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



/* navbar background when small */
/* @media screen and (max-width: 767px){
  .navbar {
      background: #d2c5c4;
  }
} */


/* navbar when scrolled */
.navbar.scrolled {
  transition: 1s;
  background: ghostwhite
}


/* Hamurger Icon */

.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


.animated-icon2 span {
  background: var(--underline-and-h1-3);
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Hamurger END*/

/* ###Navbar END### */






/* ###Header Landingpage### */
.headerbackground {
  background-image: url(img/HeaderBackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  /* enables to click through the div*/
  pointer-events: none;
}


video {
  width: 100%;
  height: 100%;
}


.clipped-video {
  -webkit-clip-path: url(#mask-overlay);
  clip-path: url(#mask-overlay);
  background-color: white; /* Just in case the video is not loading */
}

svg {
  /* Wichtig, Updated das svg damit es in immer der Mitte bleibt. "dummy update"*/
  font-size: min(max(0px, 11vw), 200vh);

  /* font-weight: bold; */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transition: 0.1s font-size; */
}


.headercenterdiv {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  align-content: center;
}


.headercenterdiv h1 {
  transition: 1s;
  animation: ease-out changeopacity;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.0s;
  opacity: 0;


  margin: auto;
  margin-bottom: 25vh;
  z-index: 1;
  color: #e1e6e6;
  font-size: 1.5rem;
  font-weight: 600;
}


/* https://www.w3schools.com/css/css3_animations.asp */
/* text {

  opacity: 1;
  animation: ease-out textgrowth;
  animation-duration: 2s;
  animation-fill-mode: forwards;
} */

.myimage {
  /* animation: ease-out changeopacity;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;

  opacity: 0; */
  border-radius: 50%;
  max-height: 25vh;
  height: auto;

  margin: auto;
  /* margin-bottom: 15vh;  */
  z-index: 1;
  background-color: var(--lighter);
}



/* @keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(+100%);
    opacity: 0;
  }
} */

/* @keyframes textgrowth {
  0% {
    font-size: 1vw;
  }

  100% {
    font-size: min(max(70px, 11vw), 17vh);
  }
} */

/* @keyframes slideInFromBottom {
  0% {
    transform: translatey(+100%);
    opacity: 0;
  }

  100% {
    transform: translatey(0);
    opacity: 1;
  }
} */


@media screen and (max-width: 767px) {
  .headercenterdiv h1 {
    margin-bottom: 22vh;
  }

}

/* ###Header Landingpage### */






/* ###About Me### */
.BackgroundSideWay {
  position: absolute;
  left: 0px;
  width: 100%;
  /* min-height: 520px; Will be replaced my javascript, just to be sure when the skript fails */
  background: linear-gradient(134deg, var(--lighter) 0%, var(--darker));
  transform: skewY(-3deg);
  z-index: -1;
  pointer-events: none;
  /* transition: 1s; */
}


.sideways {
  padding-top: 50px;
  padding-bottom: 50px;
}

#anchorJSAboutMe p {
  color: ghostwhite;
}

h2 {
  color: var(--underline-and-h1-3);
}

/* ###About Me END### */






/* Where if Worked */
.tab-pane img {
  max-height: 50px;
}

div.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  /* border-radius: 6px; */
  color: rgba(0, 0, 0, .87);
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

div.card.card-plain {
  background: transparent;
  box-shadow: none;
}

div.card .card-header {
  /* border-radius: 3px; */
  padding: 1rem 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border: 0;
  background: linear-gradient(60deg, #eee, #bdbdbd);
}

.card-plain .card-header:not(.card-avatar) {
  margin-left: 0;
  margin-right: 0;
}

.div.card .card-body {
  padding: 15px 30px;
}

div.card .card-header-primary {
  background: linear-gradient(60deg, var(--darker), var(--lighter));
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(212, 207, 212, 0.6);
}


.card .card-header .nav-tabs {
  padding: 0;
}

.nav-tabs {
  border: 0;
  /* border-radius: 3px; */
  padding: 0 15px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: hsla(0, 0%, 100%, .2);
  transition: background-color .3s .2s;
}

.nav-tabs .nav-item .nav-link {
  border: 0 !important;
  color: #fff;
  font-weight: 500;
}

.nav-tabs .nav-item .nav-link {
  color: #fff;
  border: 0;
  margin: 0;
  /* border-radius: 3px; */
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 15px;
  background-color: transparent;
  transition: background-color .3s 0s;
}

.nav-link {
  display: block;
}

.nav .nav-item {
  position: relative;
}

.card {
  border-radius: 0px;
}

.card-header:first-child {
  border-radius: 0px;
}

/* ###Where if Worked END###*/












/* ###Projects### */
.BackgroundSideWay2 {
  position: absolute;
  left: 0px;
  width: 100%;
  min-height: 520px;
  background: linear-gradient(134deg, var(--lighter) 0%, var(--darker));
  transform: skewY(3deg);
  z-index: -1;
  pointer-events: none;
  /* transition: 1s; */
}


.row .card {
  transform: translateY(0);
  /* This moves the div back to its original position */
  transition: transform 0.4s;
  /* This adds a transition effect when the position changes */
}

.row .card:hover {
  transform: translateY(-10px);
  /* This moves the div up slightly when you hover over it */
  cursor: pointer;
}

/* ###Projects END ### */





/* ###Footer###*/

footer {
  position: relative;
  width: 100%;
  min-height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: ghostwhite;
}

footer .social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer li {
  list-style: none;
  margin-bottom: 5px;
}

footer .social_icon li a {
  margin: 0 10px;
  display: inline-block;
}

footer a {
  color: ghostwhite;
  transition: 0.5s;
}


.footer_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: ghostwhite;
  background-color: var(--lighter);
  width: 100%;
   margin-top: -5px; /*Damit beim scrollen auf dem handy keine lücke entsteht */
}


.footer_bottom p {
  font-size: min(max(15px, 1.5vw), 1.5vh);
}




/* ###Footer Wave### */

#wave {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

#wave .wave {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background: url(img/wave.png);
  background-size: 1000px;
}

#wave .wave.wave1 {
  animation: animatewave 10s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  top: 15px;
}

#wave .wave.wave2 {
  animation: animatewave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -7s;
  top: 10px;
}

#wave .wave.wave3 {
  animation: animatewave 5s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  top: 5px;
}

#wave .wave.wave4 {
  animation: animatewave2 15s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -2s;
}

@keyframes animatewave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }

}


@keyframes animatewave2 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }

}

/* ###Footer Wave END### */

/* ###Footer END### */
