html{
scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
  background-color: white;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: #6972B5;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: ghostwhite;
}


/* ###Header### */
.headerbackground {
  background-image: url(img/BlueWhite3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  /* enables to click through the div*/
  pointer-events: none;
}

video {
  width: 100%;
  height: 100%;
}

.clipped-video {
  -webkit-clip-path: url(#mask-overlay);
  clip-path: url(#mask-overlay);
}

svg {

  font-size: min(max(0px, 11vw), 200vh); /* Wichtig, Updated das svg damit es in immer der Mitte bleibt. "dummy update"*/
  /* mindestens 70px maximal 18vh, skaliert mit 11vw*/

  /* font-weight: bold; */

  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transition: 0.1s font-size; */
}


.headercenterdiv {
  position: absolute;
  height: 100%;
  width: 100%;


  display: flex;
  align-items: center;
  align-content: center;
}


.headercenterdiv h1{
  transition: 1s;
  animation: ease-out changeopacity;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.0s;
  opacity: 0;

  
  margin: auto;
  margin-bottom: 25vh; 
  z-index: 1;
  color: #d0d4d4;
  font-size: 1.5rem;
  font-weight: 600;
}


/* https://www.w3schools.com/css/css3_animations.asp */
/* text {

  opacity: 1;
  animation: ease-out textgrowth;
  animation-duration: 2s;
  animation-fill-mode: forwards;
} */

.myimage {
  /* animation: ease-out changeopacity;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;

  opacity: 0; */
  border-radius: 50%;
  max-height: 25vh;
  height: auto;

  margin: auto;
  /* margin-bottom: 15vh;  */
  z-index: 1;
}



@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(+100%);
    opacity: 0;
  }
}

/* @keyframes textgrowth {
  0% {
    font-size: 1vw;
  }

  100% {
    font-size: min(max(70px, 11vw), 17vh);
  }
} */

@keyframes slideInFromBottom {
  0% {
    transform: translatey(+100%);
    opacity: 0;
  }

  100% {
    transform: translatey(0);
    opacity: 1;
  }
}


@media screen and (max-width: 767px){
  .headercenterdiv h1 {
    margin-bottom: 22vh;
  }

}









/* ###Header END### */



/* ###Navbar### */

#mainNavbar .navbar-brand {
  color: #578ba3;
  font-size: 1.5rem;
  font-weight: 600;
}

#mainNavbar .navbar-brand:hover {
  color: gray;
}



#mainNavbar .nav-link {
  color: #578ba3;
}


.navbar {
  transition: 0.3s;

  animation: ease-out changeopacity;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.0s;
  opacity: 0;

  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 0;
  padding-top: 0;
  background-color: none;
  font-weight: 600;

  background-color: ghostwhite;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important; 
}

.fixed-top {
  /* position: fixed; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}



#mainNavbar .nav-link:hover {
  color: Grey;
}

.selected {
  text-decoration: underline;
  text-decoration-color: #F75C03;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border: none;
}

@keyframes changeopacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



/* navbar background when small */
/* @media screen and (max-width: 767px){
  .navbar {
      background: #d2c5c4;
  }
} */


/* navbar when scrolled */
.navbar.scrolled {
  transition: 1s;
  background: ghostwhite

}




/* Hamurger Icon https://mdbootstrap.com/docs/b4/jquery/navigation/hamburger-menu/*/
.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


.animated-icon2 span {
  background: #F75C03;
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Hamurger END*/
/* ###Navbar END### */


.BackgroundSideWay {
    position: absolute;
    left: 0px;
    width: 100%;
    /* min-height: 520px; */
    background: linear-gradient(134deg, #6972B5 0%, #434e8c );
    transform: skewY(-3deg);
    z-index: -1;
    pointer-events: none;
    /* transition: 1s; */
}


.hJElzf {
  margin: 100px auto;
  font-weight: 900;
  color: #6972B5;
  text-align: center;
  letter-spacing: 1px;
}


.aboutme {
  padding-top: 50px;
  padding-bottom: 50px;
  transition: 1s;
}

.aboutme p{
  color: ghostwhite;
}

.aboutme h2{
  color: #F75C03;
}


