body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* Header*/
.headerbackground {
  background-image: url(img/mountain.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
}

.clipped-video {
  -webkit-clip-path: url(#text-overlay);
  clip-path: url(#text-overlay);
}

svg {
  font-weight: bold;
  font-size: min(max(70px, 11vw), 17vh);
  /* mindestens 70px maximal 18vh, skaliert mit 11vw*/

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: 1s font-size;
}


.myimagediv {
  position: absolute;
  height: 100%;
  width: 100%;


  display: flex;
  align-items: center;
  align-content: center;
}


/* https://www.w3schools.com/css/css3_animations.asp */
/* text {

  opacity: 1;
  animation: ease-out textgrowth;
  animation-duration: 2s;
  animation-fill-mode: forwards;
} */

.myimage {
  animation: ease-out slideInFromBottom;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

  opacity: 0;
  border-radius: 50%;
  max-width: 25vh;
  height: auto;

  margin: auto;
  margin-bottom: 15vh;
}



@keyframes textgrowth {
  0% {
    font-size: 1vw;
  }

  100% {
    font-size: min(max(70px, 11vw), 17vh);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translatey(+100%);
    opacity: 0;
  }

  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
